@import './globals.css';
@import './window.css';

body {
  font-family: 'nunito';
  font-size: 14px;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.4;
}
