/*

.trackBox {
  vertical-align: top;
  width: 98%;
  float: left;
} */

.trackBox {
  display: flex;
  align-items: center;
}

.img {
  float: left;
  box-shadow: black 2px 5px 15px;
  width: 52px;
  height: 52px;
  margin: 5px 0px 5px 0px;
}

.textArtist,
.textName {
  color: white;
  text-shadow: black 5px 5px 10px;
  font-family: var(--font-famility);
  padding-left: 24px;
  font-size: 20px;
}

.textName {
  padding-top: 4px;
  font-weight: 300;
  font-size: 14px;
}
