.text {
  color: white;
  margin: 18px 0px 10px 15px;
  text-shadow: black 5px 5px 10px;
  float: left;
}

.img {
  float: left;
  box-shadow: black 2px 5px 15px;
  width: 52px;
  height: 52px;
}

.trackBox {
  vertical-align: top;
  margin: 0px 0px 10px 15px;
  width: 98%;
  float: left;
}
