.input {
  height: 32px;

  background: transparent;
  border: none;
  border-bottom: 1px solid #fff500;

  font-size: 16px;
  color: white;

  text-align: center;
  font-family: var(--font-famility);

  width: 150px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  text-shadow: black 2px 5px 5px;
  color: white;
}

.input:focus::placeholder {
  color: rgba(255, 255, 255, 0.164);
}
