.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 16px;
  font-family: var(--font-famility);
  color: var(--white);
  background-color: var(--transparent-black);
  border-radius: 25px;
  border: 1px solid var(--white);
  margin: 0;
}

.button:hover {
  border: 1px solid rgb(112, 255, 124);
  transition-duration: 300ms;
  box-shadow: 12px 12px 16px -10px rgb(112, 255, 124);
}

.button:hover .icon {
  fill: var(--light-purple);
  transition-duration: 300ms;
}

.icon {
  height: 25px;
  width: 25px;
  fill: white;
  margin-right: 5px;
}
