body {
  background: url(https://images.pexels.com/photos/4100130/pexels-photo-4100130.jpeg)
    no-repeat center center fixed;

  background-size: cover;
  font-family: "Mukta Malar", Arial;

  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  display: none;
}
